<div>
    <table border="5">
        <tr>
            <th>Tên</th>
            <th>Tuổi</th>
            <th>Địa chỉ</th>
        </tr>

        <tr>
            <td>{{ user[0].name }}</td>
            <td>{{ user[0].age }}</td>
            <td>{{ user[0].address }}</td>
        </tr>

        <tr>
            <td>{{ user[1].name }}</td>
            <td>{{ user[1].age }}</td>
            <td>{{ user[1].address }}</td>
        </tr>

        <tr>
            <td>{{ user[2].name }}</td>
            <td>{{ user[2].age }}</td>
            <td>{{ user[2].address }}</td>
        </tr>
    </table>
</div>