<form>
  <h1>Chương Trình Bảo Hiểm Dành Cho {{per}}</h1>
  <div>
    <label for="" class="form-label">Họ Tên</label>
    <input type="text" class="form-control" ng-model="inputValue.ten">
    <p ng-if="kiemTraDuLieu.ten == true" class="alert alert-danger">Vui Lòng Nhập Họ Tên</p>
  </div>
  <div class="form-group">
    <label for="" class="form-label">Giới Tính</label>
    </br>
    <input checked="checked" name="gioitinh" type="radio" class="form-radio" ng-model="inputValue.gioitinh"
      value="1" />Nam
    <input name="gioitinh" type="radio" ng-model="inputValue.gioitinh" class="form-radio" value="2" />Nữ
    <p ng-if="kiemTraDuLieu.gioitinh == true" class="alert alert-danger">Vui Lòng Nhập Họ Giới Tính</p>
  </div>
  <div>
    <label for="" class="form-label">Cấp Bậc</label>
    <select class="form-select" ng-model="inputValue.capbac">
      <option value="1">Cấp Bậc 1</option>
      <option value="2">Cấp Bậc 2</option>
      <option value="3">Cấp Bậc 3</option>
    </select>
  </div>
  <p ng-if="kiemTraDuLieu.capbac == true" class="alert alert-danger">Vui Lòng Chọn Cấp Bậc</p>

  <div>
    <label for="" class="form-label">Số Ngày Nằm Viện</label>
    <input type="text" class="form-control" ng-model="inputValue.songaynamvien">
    <p ng-if="kiemTraDuLieu.songaynamvien == true" class="alert alert-danger">Vui Lòng Nhập Số Ngày Nằm Viện, Là 1 Chữ Số</p>
  </div>
  <div class="text-center mt-5">
    <button ng-click="onSubmitForm()" class="btn btn-primary m-a px-5 py-2">Kiểm Tra</button>
  </div>

</form>
<p>{{hienthi}}</p>